<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <meta title="Welcome" />
    </head>

    <body style="background: white; margin: 0; padding: 0; max-width: 700px; margin: 10px auto; font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;">

        <%- include('../partials/header'); %>

            <main style="padding: 10px; text-align: center;">

                <div style="margin: 10px 0; text-align: center; padding-bottom: 30px; border-bottom: 1px solid #ddd;">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M24 21h-24v-18h24v18zm-23-16.477v15.477h22v-15.477l-10.999 10-11.001-10zm21.089-.523h-20.176l10.088 9.171 10.088-9.171z"/></svg>
                    <h2 style="margin: 0; color: #333;">Confirmed Email</h2>
                </div>

                <p style="color: #666;">
                    Hi, now you can use our tool, just click on the link below and we will automatically redirect you.
                </p>

                <br/>
                <a href="<%= loginUrl %>" style="text-decoration: none; margin: 16px 0; padding: 6px 12px; outline: none; border: none; color: #fff; font-size: 16px; border-radius: 2px; background: #62BD69; cursor: pointer;">
                    Go to login
                </a>

            </main>

            <%- include('../partials/footer'); %>
    </body>

</html>