<footer style="margin: 22px 0; width: 100%; border-top: 1px solid #ccc; padding-top: 10px; text-align: center;">
    <a style="font-size: 14px; text-decoration: none; color: #c285e0;" href="https://github.com/brenogcota/project-system-management">Contribute</a>
    <span style="width: 100px"></span>
    <span style="font-size: 14px;"> © 2021 - Brainny. All rights reserved.</span>
</footer>