@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #39E991;
    --primaryDarken: #219653;
    --secondary: #7277d4;
    --secondaryDarken: #565a8a;
    --black: #333333;
    --grayLight: #E3E3E3;
    --gray: #44546A;
    --grayDark: #ccc;
    --darken: #2D3D52;
    --darkenLight: #AAA;
    --white: #FFF;
    --whiteDarken: #fafafa;
    --shadow: #d5d5d5;
    --red: #CC1100;
    --crimson: #DC143C;
    --green: #62BD69;
    --greenDarken: #30694B;
    --orange: #FF781F;
    --orangeLighten: #FF9D5C;
    --orangeLight: #FFAF7A;
    --yellow: #FEF24E;
    --blue: #3895D3;
    --blueDarken: #1261A0;
    --blueLight: #92DFF3;
    --blueLighten: rgba(59, 130, 246, 0.5);
}

.linear-gradient {
    background: linear-gradient(325deg, #219653 9%, #39E991 62%);
}

.scrollbar-none::-webkit-scrollbar {
    width: 0;
}

.scrollbar-light::-webkit-scrollbar {
    width: 5px;
}
.scrollbar-light::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.scrollbar-light::-webkit-scrollbar-thumb {
    background: #ddd; 
}
.scrollbar-light::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
